body {
  display: block;
  margin: 120px;
  background: linear-gradient(
    45.8deg,
    rgb(175, 104, 254) 9.3%,
    rgb(101, 223, 255) 75.1%
  );
}

header {
  display: block;
  margin: 15px;
}

main {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  display: block;
  padding: 15px;
}

footer {
  font-family: "PT Mono", monospace;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

.weather-app {
  display: block;
  padding: 50px;
}

.search-input {
  padding: 15px;
  font-size: 15px;
  font-family: "PT Mono", monospace;
  background: rgba(255, 255, 255, 0.8);
}

.search-button {
  padding: 20px;
  border: 5px solid rgba(255, 255, 255, 0.8);
  border-radius: 18px;
  background-color: #9818d6;
  color: #fff;
  font-family: "PT Mono", monospace;
  font-size: 15px;
}

.search-button:hover {
  cursor: pointer;
  transition: ease-in-out;
  background-color: rgba(255, 255, 255, 0.8);
  border: 5px solid #9818d6;
  color: #000;
}

.current-weather-city {
  display: block;
  padding-left: 100px;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 50px;
}

.current-weather-day {
  display: block;
  padding-left: 100px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 18px;
}

.current-weather-time {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 30px;
}

.humidity-info {
  color: #9818d6;
}

.wind-info {
  color: #9818d6;
}

.current-weather-temp {
  display: flex;
  justify-content: end;
  position: relative;
  bottom: 60px;
  margin-right: 60px;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 95px;
  line-height: 88px;
}

.weather-icon img {
  display: flex;
  justify-content: end;
  position: relative;
  bottom: 60px;
  margin-right: 60px;
}

.weather-forecast {
  font-family: "Roboto Slab", serif;
  margin: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  text-align: center;
}

.weather-forecast-temps {
  color: #9818d6;
}

.weather-forecast-day {
  color: #000;
  font-size: 25px;
  font-weight: 500;
  padding: 20px;
}

.weather-forecast-temp-max {
  font-size: 20px;
  font-weight: 500;
}
.weather-forecast-temp-min {
  opacity: 0.5;
  font-size: 17px;
  font-weight: 400;
}
